{% extends 'base.html' %}
{% block meta %}
{{ block.super }}
{% endblock %}
{% block title %}
{{ page.title }}
{% endblock %}
{% block head %}
<style>

</style>
{% endblock %}

{% block content %}
<!-- background-image: url("{{ page.background_image.url }}"); background-size: cover; background-position: center; -->
<div class="header-section" style=' min-height: 60vh;'>
    <h1 class="display-2" style="width: 80%; color: #fff;" data-aos="fade-down">{{ page.title }}</h1>
    <center>
        <h2> <a href="#{{ page.title }}" style="text-decoration: none; color: #fff;">
        <i class="fa-solid fa-caret-down"></i>
    </a>
    </h2>
    </center>
</div>
<div style="width: 90%; height: auto; margin: auto;" id="{{ page.title }}">
<div class="content-blog" data-aos="fade-up" style="word-break: break-word; 
white-space: normal;
overflow-wrap: break-word; ">
    {{ page.content|safe }}
</div>
</div>
{% endblock %}